ConnectorPubmedService/build-support/pubmed/eSearch_020511.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<!-- Note: this file was generated in XMLSpy converting eSearch_020511.dtd to an xml schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Count">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RetMax">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RetStart">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Id">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="From">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="To">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Term">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Field">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QueryKey">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WebEnv">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Explode">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="IdList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Translation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="From"/>
				<xs:element ref="To"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TranslationSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Translation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TermSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Term"/>
				<xs:element ref="Field"/>
				<xs:element ref="Count"/>
				<xs:element ref="Explode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TranslationStack">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="TermSet"/>
					<xs:element ref="OP"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERROR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OutputMessage">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QuotedPhraseNotFound">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PhraseIgnored">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FieldNotFound">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PhraseNotFound">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QueryTranslation">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ErrorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhraseNotFound" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="FieldNotFound" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WarningList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhraseIgnored" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="QuotedPhraseNotFound" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OutputMessage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eSearchResult">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="Count"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="RetMax"/>
							<xs:element ref="RetStart"/>
							<xs:element ref="QueryKey" minOccurs="0"/>
							<xs:element ref="WebEnv" minOccurs="0"/>
							<xs:element ref="IdList"/>
							<xs:element ref="TranslationSet"/>
							<xs:element ref="TranslationStack" minOccurs="0"/>
							<xs:element ref="QueryTranslation"/>
						</xs:sequence>
					</xs:sequence>
					<xs:element ref="ERROR"/>
				</xs:choice>
				<xs:element ref="ErrorList" minOccurs="0"/>
				<xs:element ref="WarningList" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
