ConnectorPubmedService/build-support/pubmed/pubmed_070101.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<!-- Note: this file was generated in XMLSpy converting pubmed_070101.dtd to an XML schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="NCBIArticle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PMID"/>
				<xs:element ref="Article"/>
				<xs:element ref="MedlineJournalInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Article">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="Journal"/>
					<xs:element ref="Book"/>
				</xs:choice>
				<xs:element ref="ArticleTitle"/>
				<xs:element ref="Pagination"/>
				<xs:element ref="Abstract" minOccurs="0"/>
				<xs:element ref="Affiliation" minOccurs="0"/>
				<xs:element ref="AuthorList" minOccurs="0"/>
				<xs:element ref="Language" maxOccurs="unbounded"/>
				<xs:element ref="DataBankList" minOccurs="0"/>
				<xs:element ref="GrantList" minOccurs="0"/>
				<xs:element ref="PublicationTypeList"/>
				<xs:element ref="VernacularTitle" minOccurs="0"/>
				<xs:element ref="ArticleDate" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="PubModel" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Electronic"/>
						<xs:enumeration value="Print"/>
						<xs:enumeration value="Electronic-Print"/>
						<xs:enumeration value="Print-Electronic"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Abstract">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="AbstractText"/>
					<xs:element ref="CopyrightInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AbstractText">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="AccessionNumber">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="AccessionNumberList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AccessionNumber" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Acronym">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Affiliation">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Agency">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ArticleDate">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="Year"/>
					<xs:element ref="Month"/>
					<xs:element ref="Day"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="Hour"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="Minute"/>
							<xs:element ref="Second" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="DateType" fixed="Electronic" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleTitle">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Author">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="LastName"/>
							<xs:choice minOccurs="0">
								<xs:element ref="ForeName"/>
								<xs:sequence>
									<xs:element ref="FirstName"/>
									<xs:element ref="MiddleName" minOccurs="0"/>
								</xs:sequence>
							</xs:choice>
							<xs:element ref="Initials" minOccurs="0"/>
							<xs:element ref="Suffix" minOccurs="0"/>
						</xs:sequence>
						<xs:element ref="CollectiveName"/>
					</xs:choice>
				</xs:choice>
				<xs:element ref="Affiliation" minOccurs="0"/>
				<xs:element ref="DatesAssociatedWithName" minOccurs="0"/>
				<xs:element ref="NameQualifier" minOccurs="0"/>
				<xs:element ref="OtherInformation" minOccurs="0"/>
				<xs:element ref="TitleAssociatedWithName" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ValidYN" default="Y">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuthorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Author" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="CompleteYN" default="Y">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PubDate"/>
				<xs:element ref="Publisher"/>
				<xs:element ref="Title"/>
				<xs:element ref="AuthorList" minOccurs="0"/>
				<xs:element ref="CollectionTitle" minOccurs="0"/>
				<xs:element ref="Volume" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BroadJournalHeading">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BroadJournalHeadingList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BroadJournalHeading" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Coden">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CollectionTitle">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CollectiveName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CopyrightInformation">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Country">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Coverage">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DataBank">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataBankName"/>
				<xs:element ref="AccessionNumberList" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataBankList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataBank" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="CompleteYN" default="Y">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataBankName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DateIssued">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DatesAssociatedWithName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DatesOfSerialPublication">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Day">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DescriptorName">
		<xs:complexType mixed="true">
			<xs:attribute name="MajorTopicYN" default="N">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Edition">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EndPage">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FirstName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ForeName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Frequency">
		<xs:complexType mixed="true">
			<xs:attribute name="FrequencyType" default="Current">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Current"/>
						<xs:enumeration value="Former"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Grant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GrantID" minOccurs="0"/>
				<xs:element ref="Acronym" minOccurs="0"/>
				<xs:element ref="Agency"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GrantID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GrantList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Grant" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="CompleteYN" default="Y">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hour">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Imprint">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Initials">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ISOAbbreviation">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ISSN">
		<xs:complexType mixed="true">
			<xs:attribute name="IssnType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Electronic"/>
						<xs:enumeration value="Undetermined"/>
						<xs:enumeration value="Print"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Issue">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Journal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ISSN" minOccurs="0"/>
				<xs:element ref="JournalIssue"/>
				<xs:element ref="Coden" minOccurs="0"/>
				<xs:element ref="Title" minOccurs="0"/>
				<xs:element ref="ISOAbbreviation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JournalIssue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Volume" minOccurs="0"/>
				<xs:element ref="Issue" minOccurs="0"/>
				<xs:element ref="PubDate"/>
			</xs:sequence>
			<xs:attribute name="CitedMedium" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Internet"/>
						<xs:enumeration value="Print"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Language">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LastName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MedlineDate">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MedlineJournalInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Country" minOccurs="0"/>
				<xs:element ref="MedlineTA"/>
				<xs:element ref="NlmUniqueID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MedlinePgn">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MedlineTA">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MeshHeading">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DescriptorName"/>
				<xs:element ref="QualifierName" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MeshHeadingList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MeshHeading" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MiddleName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Minute">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Month">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NameQualifier">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NlmUniqueID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OtherInformation">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Pagination">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="StartPage"/>
					<xs:element ref="EndPage" minOccurs="0"/>
					<xs:element ref="MedlinePgn" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="MedlinePgn"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Place">
		<xs:complexType mixed="true">
			<xs:attribute name="ImprintType" default="Current">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Current"/>
						<xs:enumeration value="Original"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceCode">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ProjectedPublicationDate">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PubDate">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="Year"/>
						<xs:choice minOccurs="0">
							<xs:sequence>
								<xs:element ref="Month"/>
								<xs:element ref="Day" minOccurs="0"/>
							</xs:sequence>
							<xs:element ref="Season"/>
						</xs:choice>
					</xs:sequence>
					<xs:element ref="MedlineDate"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationEndYear">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PublicationFirstYear">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PublicationInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Country" minOccurs="0"/>
				<xs:element ref="PlaceCode" minOccurs="0"/>
				<xs:element ref="Imprint" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Place" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Publisher" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DateIssued" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ProjectedPublicationDate" minOccurs="0"/>
				<xs:element ref="PublicationFirstYear" minOccurs="0"/>
				<xs:element ref="PublicationEndYear" minOccurs="0"/>
				<xs:element ref="Edition" minOccurs="0"/>
				<xs:element ref="DatesOfSerialPublication" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Frequency" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationType">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PublicationTypeList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicationType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Publisher">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QualifierName">
		<xs:complexType mixed="true">
			<xs:attribute name="MajorTopicYN" default="N">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Season">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Second">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="StartPage">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Suffix">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Title">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TitleAssociatedWithName">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VernacularTitle">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Volume">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Year">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Chemical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RegistryNumber"/>
				<xs:element ref="NameOfSubstance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChemicalList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Chemical" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateCompleted">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="Year"/>
					<xs:element ref="Month"/>
					<xs:element ref="Day"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="Hour"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="Minute"/>
							<xs:element ref="Second" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateCreated">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="Year"/>
					<xs:element ref="Month"/>
					<xs:element ref="Day"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="Hour"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="Minute"/>
							<xs:element ref="Second" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateRevised">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="Year"/>
					<xs:element ref="Month"/>
					<xs:element ref="Day"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="Hour"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="Minute"/>
							<xs:element ref="Second" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeneralNote">
		<xs:complexType mixed="true">
			<xs:attribute name="Owner" default="NLM">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NLM"/>
						<xs:enumeration value="HMD"/>
						<xs:enumeration value="NOTNLM"/>
						<xs:enumeration value="SIS"/>
						<xs:enumeration value="PIP"/>
						<xs:enumeration value="HSR"/>
						<xs:enumeration value="NASA"/>
						<xs:enumeration value="KIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Investigator">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="LastName"/>
					<xs:choice minOccurs="0">
						<xs:element ref="ForeName"/>
						<xs:sequence>
							<xs:element ref="FirstName"/>
							<xs:element ref="MiddleName" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="Initials" minOccurs="0"/>
					<xs:element ref="Suffix" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="Affiliation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvestigatorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Investigator" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Keyword">
		<xs:complexType mixed="true">
			<xs:attribute name="MajorTopicYN" default="N">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="N"/>
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="KeywordList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Keyword" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Owner" default="NLM">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NLM"/>
						<xs:enumeration value="HMD"/>
						<xs:enumeration value="NOTNLM"/>
						<xs:enumeration value="SIS"/>
						<xs:enumeration value="PIP"/>
						<xs:enumeration value="HSR"/>
						<xs:enumeration value="NASA"/>
						<xs:enumeration value="KIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameOfSubstance">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OtherAbstract">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="AbstractText"/>
					<xs:element ref="CopyrightInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="AIDS"/>
						<xs:enumeration value="AAMC"/>
						<xs:enumeration value="PIP"/>
						<xs:enumeration value="Consumer"/>
						<xs:enumeration value="NASA"/>
						<xs:enumeration value="KIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherID">
		<xs:complexType mixed="true">
			<xs:attribute name="Prefix" type="xs:string"/>
			<xs:attribute name="Source" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NRCBL"/>
						<xs:enumeration value="POP"/>
						<xs:enumeration value="CPFH"/>
						<xs:enumeration value="ARPL"/>
						<xs:enumeration value="SGC"/>
						<xs:enumeration value="QCIM"/>
						<xs:enumeration value="QCICL"/>
						<xs:enumeration value="IM"/>
						<xs:enumeration value="CLML"/>
						<xs:enumeration value="PIP"/>
						<xs:enumeration value="IND"/>
						<xs:enumeration value="NASA"/>
						<xs:enumeration value="CPC"/>
						<xs:enumeration value="KIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonalNameSubject">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="LastName"/>
					<xs:choice minOccurs="0">
						<xs:element ref="ForeName"/>
						<xs:sequence>
							<xs:element ref="FirstName"/>
							<xs:element ref="MiddleName" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="Initials" minOccurs="0"/>
					<xs:element ref="Suffix" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="DatesAssociatedWithName" minOccurs="0"/>
				<xs:element ref="NameQualifier" minOccurs="0"/>
				<xs:element ref="OtherInformation" minOccurs="0"/>
				<xs:element ref="TitleAssociatedWithName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonalNameSubjectList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersonalNameSubject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegistryNumber">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SpaceFlightMission">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MedlineCitation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NlmDcmsID" minOccurs="0"/>
				<xs:element ref="PMID"/>
				<xs:element ref="DateCreated"/>
				<xs:element ref="DateCompleted" minOccurs="0"/>
				<xs:element ref="DateRevised" minOccurs="0"/>
				<xs:element ref="Article"/>
				<xs:element ref="MedlineJournalInfo"/>
				<xs:element ref="ChemicalList" minOccurs="0"/>
				<xs:element ref="CitationSubset" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CommentsCorrections" minOccurs="0"/>
				<xs:element ref="GeneSymbolList" minOccurs="0"/>
				<xs:element ref="MeshHeadingList" minOccurs="0"/>
				<xs:element ref="NumberOfReferences" minOccurs="0"/>
				<xs:element ref="PersonalNameSubjectList" minOccurs="0"/>
				<xs:element ref="OtherID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OtherAbstract" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="KeywordList" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SpaceFlightMission" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="InvestigatorList" minOccurs="0"/>
				<xs:element ref="GeneralNote" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Owner" default="NLM">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NLM"/>
						<xs:enumeration value="HMD"/>
						<xs:enumeration value="NOTNLM"/>
						<xs:enumeration value="SIS"/>
						<xs:enumeration value="PIP"/>
						<xs:enumeration value="HSR"/>
						<xs:enumeration value="NASA"/>
						<xs:enumeration value="KIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="In-Data-Review"/>
						<xs:enumeration value="MEDLINE"/>
						<xs:enumeration value="OLDMEDLINE"/>
						<xs:enumeration value="In-Process"/>
						<xs:enumeration value="PubMed-not-MEDLINE"/>
						<xs:enumeration value="Publisher"/>
						<xs:enumeration value="Completed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CitationSubset">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CommentIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommentOn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommentsCorrections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommentOn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CommentIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ErratumIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ErratumFor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PartialRetractionIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PartialRetractionOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RepublishedFrom" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RepublishedIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RetractionOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RetractionIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="UpdateIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="UpdateOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SummaryForPatientsIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OriginalReportIn" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ReprintOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ReprintIn" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErratumFor">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErratumIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeneSymbol">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GeneSymbolList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GeneSymbol" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NlmDcmsID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Note">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NumberOfReferences">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OriginalReportIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartialRetractionIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartialRetractionOf">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RefSource">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ReprintIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReprintOf">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RepublishedFrom">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RepublishedIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetractionIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetractionOf">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SummaryForPatientsIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateIn">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateOf">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="RefSource"/>
					<xs:element ref="PMID" minOccurs="0"/>
					<xs:element ref="Note" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteCitation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PMID" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MedlineCitationSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MedlineCitation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DeleteCitation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PubmedArticleSet">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="PubmedArticle"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PubmedArticle">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="NCBIArticle"/>
					<xs:element ref="MedlineCitation"/>
				</xs:choice>
				<xs:element ref="PubmedData" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PubmedData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="History" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PublicationStatus"/>
				<xs:element ref="ArticleIdList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="History">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PubMedPubDate" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PubMedPubDate">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="Year"/>
					<xs:element ref="Month"/>
					<xs:element ref="Day"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="Hour"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="Minute"/>
							<xs:element ref="Second" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="PubStatus" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="pmc"/>
						<xs:enumeration value="medline"/>
						<xs:enumeration value="pmcr"/>
						<xs:enumeration value="received"/>
						<xs:enumeration value="revised"/>
						<xs:enumeration value="pubmed"/>
						<xs:enumeration value="premedline"/>
						<xs:enumeration value="epublish"/>
						<xs:enumeration value="ppublish"/>
						<xs:enumeration value="medliner"/>
						<xs:enumeration value="retracted"/>
						<xs:enumeration value="pubmedr"/>
						<xs:enumeration value="accepted"/>
						<xs:enumeration value="aheadofprint"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationStatus">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ArticleIdList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ArticleId" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleId">
		<xs:complexType mixed="true">
			<xs:attribute name="IdType" default="pubmed">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="pmcid"/>
						<xs:enumeration value="medline"/>
						<xs:enumeration value="pmpid"/>
						<xs:enumeration value="doi"/>
						<xs:enumeration value="pubmed"/>
						<xs:enumeration value="pmcpid"/>
						<xs:enumeration value="sici"/>
						<xs:enumeration value="pii"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="URL">
		<xs:complexType mixed="true">
			<xs:attribute name="lang">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PL"/>
						<xs:enumeration value="PS"/>
						<xs:enumeration value="PT"/>
						<xs:enumeration value="EL"/>
						<xs:enumeration value="EN"/>
						<xs:enumeration value="FA"/>
						<xs:enumeration value="ES"/>
						<xs:enumeration value="FI"/>
						<xs:enumeration value="RO"/>
						<xs:enumeration value="FR"/>
						<xs:enumeration value="RU"/>
						<xs:enumeration value="SK"/>
						<xs:enumeration value="SL"/>
						<xs:enumeration value="SQ"/>
						<xs:enumeration value="SR"/>
						<xs:enumeration value="SV"/>
						<xs:enumeration value="HE"/>
						<xs:enumeration value="SW"/>
						<xs:enumeration value="TH"/>
						<xs:enumeration value="TR"/>
						<xs:enumeration value="HU"/>
						<xs:enumeration value="HY"/>
						<xs:enumeration value="UK"/>
						<xs:enumeration value="IN"/>
						<xs:enumeration value="JA"/>
						<xs:enumeration value="IS"/>
						<xs:enumeration value="IT"/>
						<xs:enumeration value="IW"/>
						<xs:enumeration value="VI"/>
						<xs:enumeration value="KA"/>
						<xs:enumeration value="KO"/>
						<xs:enumeration value="LT"/>
						<xs:enumeration value="AF"/>
						<xs:enumeration value="MK"/>
						<xs:enumeration value="ML"/>
						<xs:enumeration value="AR"/>
						<xs:enumeration value="ZH"/>
						<xs:enumeration value="BG"/>
						<xs:enumeration value="AZ"/>
						<xs:enumeration value="NL"/>
						<xs:enumeration value="NO"/>
						<xs:enumeration value="DA"/>
						<xs:enumeration value="CS"/>
						<xs:enumeration value="DE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="fulltext"/>
						<xs:enumeration value="FullText"/>
						<xs:enumeration value="Summary"/>
						<xs:enumeration value="summary"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
